
body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  
}



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(244, 241, 241);
}

.navbar-custom{
  background-color: aqua;
}



.book{
  margin: 5px;
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-bottom: 5px;
  max-width: 700px;
  position:relative;
 




}

.bring{

  border: 1px solid #ffe484;
  border-radius: 5px;
  padding: 5px;
}




.book-img{
  margin: 5px;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}
.disc{
display: inline;
padding-left: 20px;
padding-right: 150px;
}

.dropdown{
  padding-right: 10px;
}

.disc p{
  padding-right: 20px;
}


.disc h3 {
  padding-right: 20px;
}



.info{
  font-style: italic;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

.buy-btn{
  background-color: paleturquoise;
  /*align-self: baseline;*/
  position: absolute;
  right: 5px;
  top:5px;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 20px;
}

.buy-btn:active{
  opacity: 0.8;
}
.level{
  display: inline-block;
}

.shop{
  display: inline-block;
  background-color: white;
  padding: 5px;

}

.cart-box {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  right: 10px;
  top: 85px;
  background-color: white;
  width: 260px;
  z-index: 1;
  border-radius: 5px;
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.shop-box{
  margin-left: 10px;
}




